.app{
  display:contents;
  width: 80vw;
}

#loading{
  background-color:rgb(245, 245, 220);
  display: flex;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
}

#saved-recipe{
  background-color:rgb(245, 245, 220);
  margin:auto;
  text-align: center;
}

#recipe-form{
  background-color:rgb(245, 245, 220);
  margin:auto;
  text-align: center;
  border: solid;
}

#error{
  background-color:red;
  color: yellow;
  margin:auto;
  text-align: center;
  border-style: solid;
  width: 300px;
}

#recipe-container{
  text-align: center;
}

#filter-bar{
  width: 20vw;
  padding: 10px;
  margin: auto;
  background-color:rgb(245, 245, 220);
}

#nav-bar{
  text-align: center;
  margin: auto;
}

img {
  height: 400px;
  width: 400px;
}

.card {
  background-color:rgb(245, 245, 220);
  padding: 10px;
  display: inline-table;
  width: 400px;
  border-style:ridge;
  margin: 10px;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
