.app{
  display:contents;
  width: 80vw;
}

#recipe-container{
  text-align: center;
}

#filter-bar{
  width: 75vw;
  display: inline-block;
  background-color:rgb(245, 245, 220);
}

#nav-bar{
  text-align: center;
  margin: auto;
}

img {
  height: 200px;
  width: 200px;
}

.card {
  background-color:rgb(245, 245, 220);
  padding: 10px;
  display: inline-table;
  width: 400px;
  border-style:ridge;
  margin: 10px;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
